.main {
    height: 16cm;
    width: 90%;
}

.body {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 18.9cm;
    align-items: center;
    display: flex;
    background-image: url(https://images.unsplash.com/photo-1496450681664-3df85efbd29f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;

}
.left{
    height: 100%;
    width: 70%;
}
 
.right{
    float: right;
    height: 100%;
    width: 30%;
    margin-top: -16cm;

}
.details{
    margin-left: 20px;
    margin-top: 20px;
    color: rgb(9, 44, 44);
    font-weight: 700;
}
.temperature{
    height: 5cm;
    width: 8cm;
    margin-top: 8cm;
    margin-left: 1.5cm;
    display: flex;
}
.tempData{
    width: 100%;
    height: 100%;
    /* background-color:yellow; */
    color: rgb(37, 45, 19);
    font-weight: 600;
    stroke: black;
}
.temp{
float: left;
margin-right:  40px;
font-size: 40px;


}
.cloud{
    font-size: 40px;
  

}
.des{
    font-size: 20px;
    float: left;
    margin-right: 20px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  .res{
    margin-left: 2cm;
    font-weight: 800;
    stroke: black;
    color: rgb(255, 255, 255);
  }

